@keyframes focusImage {
  0% {
      opacity: 0;
      transform: scale(40%);
  }
  100% {
      opacity: 1;
      transform: scale(100%);
  }
}

#focusonimage--focus {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111ee;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
}

#focusonimage--focus-image {
  animation: focusImage forwards ease-out 500ms;
  max-width: 96%;
  max-height: 96%;
  object-fit: contain;
}