@keyframes hoverIcon {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

#hoverbuttons--buttons {
  width: 10%;
  height: 20%;
  z-index: 2;
  position: absolute;
  left: 6px;
  top: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hoverbuttons--buttons > * {
  margin: 3px;
  width: 100%;
  opacity: 0.4;
}

#hoverbuttons--buttons > *:hover {
  animation: hoverIcon forwards linear 50ms;
}

#hoverbuttons--heart-unheart {
  width: 120%;
}