#rendergallerypage--page {
  position: absolute;
  left: 0;
  top: 0rem;
  padding-top: 5rem;
  width: 100%;
  background-color: #101033;
  height: fit-content;
}

#rendergallerypage--header-area {
  position: sticky;
  top: 0;
  bottom: calc(100vh - 5rem);
  z-index: 5;
  background-color: #111155ee;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border: 2.5px solid white;
}

#rendergallerypage--header-text {
  cursor: default;
  font-family: 'Jakarta';
  font-size: 1.4rem;
  margin-left: 3%;
  font-weight: bold;
}

#rendergallerypage--header-buttons {
  height: 100%;
  position: absolute;
  right: 0;
}

#rendergallerypage--header-one, #rendergallerypage--header-two {
  font-family: 'Jakarta';
  border: none;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.3rem;
  background-color: #555599;
  color: white;
  cursor: pointer;
}

#rendergallerypage--header-one:hover, #rendergallerypage--header-two:hover {
  background-color: pink;
  color: black;
}

#rendergallerypage--header-sort {
  position: absolute;
  height: 100%;
  padding: 0 1rem;
  left: 0;
  cursor: pointer;
  border: none;
  font-family: 'Jakarta';
  background-color: #555599;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

#rendergallerypage--header-sort:hover {
  background-color: pink;
  color: #000;
}
.rendergallerypage--header-option:nth-child(even) {
  background-color: #111155ee;
}

#rendergallery--nothing-here {
  font-size: 2rem;
  color: white;
  font-family: 'Jakarta';
}

#rendergallerypage--loadmore {
  padding: 1rem;
  cursor: pointer;
  font-family: 'Jakarta';
  position: sticky;
  top: 85%;
  margin-bottom: 6rem;
  border: 4px solid white;
  z-index: 4;
  border-radius: 2px;
  background-color: #111155ee;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

#rendergallerypage--loadmore:hover {
  background-color: pink;
  color: #000;
  animation: scaleButton 50ms forwards linear;
}

#rendergallerypage--loadmore:disabled {
    background: #44444455;
    color: #444444;
    text-shadow: none;
    border: none;
    animation: none;
    cursor: default;
    box-shadow: none;
}