@keyframes messageTimer {
    0% {background-position: 0%}
    100% {background-position: -100%}
}

.upload--choose-files {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload--choose-button {
    margin-bottom: 5rem;
    width: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
    background-color: #333377cc;
    color: #111133;
    text-shadow: 1px 1px 1px #ccccff, -1px -1px 1px #ccccff;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid black;
}

.upload--choose-button:hover {
    background-color: pink;
}

#upload--upload-button {
    padding: 2rem;
    background-color: #5432ff99;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    box-shadow: 0 0 0 5px #ffffff00, 0 0 0 6px #222255bb;
    text-shadow: 1px 1px 1px #ccccff, -1px -1px 1px #ccccff;
    color: #111133;
}

#upload--upload-button:hover {
    animation: 300ms forwards scaleButton;
    background-color: pink;
}

#upload--upload-button:disabled {
    background: #44444455;
    color: #444444;
    text-shadow: none;
    border: none;
    animation: none;
    cursor: default;
    box-shadow: none;
}

#upload--message {
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
    color: white;
    background: linear-gradient(90deg,#ff0000aa 0%, #ff000055 1%);
    background-size: 200% 100%;
    animation: messageTimer 5s linear;
}

#upload--message:hover {
    background-color: #44444433;
    cursor: default;
}

.upload--loading {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #44444499;
}

.upload--loading-text {
    border-radius: 3rem;
    padding: 2rem 1rem;
    background-color: #111111cc;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3rem;
    color: white;
    cursor: default;
}