@keyframes loadImage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#viewgallery--page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#viewgallery--header {
    position: fixed;
    z-index: 3;
    padding: 0 1rem 5px  1rem;
    top: 0;
    background-color: #fff;
    font-size: 1.8rem;
    width: 100%; 
    border-radius: 0;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: bold;
}