@keyframes focusImage {
    0% {
        transform: scale(40%);
    }
    100% {
        transform: scale(100%);
    }
}

#viewphotos--page {
    margin-top: 2rem;
}

#viewphotos--grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    margin: 1.5rem;
}

.viewphotos--wide {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.viewphotos--tall {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    grid-row: span 2;
    margin-top: 0;
    margin-bottom: 0;
}

.viewphotos--tall:hover {
    animation: 400ms forwards scaleButton;
    margin: auto;
}

.viewphotos--wide:hover{
    animation: 400ms forwards scaleButton;
}

#viewphotos--focus {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111ee;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#viewphotos--focus-image {
    animation: focusImage forwards 1s;
    max-width: 96%;
    max-height: 96%;
}