#register--page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

#register--block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222222ff;
    padding: 2rem;
    border-radius: 0.5rem;
    width:90vw;
    max-width: 600px;
    min-height: 70vh;
}

@media screen and (max-width: 800px) {
    #register--page {
        padding-top: 6rem;
    }
    .register--block {
        margin-top: -4.7rem;
        position: sticky;
        padding: 2rem 1rem 6rem 1rem;
    }

    .userform--title {
        margin-bottom: 12px;
        font-size: 2rem;
    }
}