.register--block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33333388;
    padding: 1rem;
    border-radius: 2rem 1rem 2rem 1rem;
    max-width: 40vw;
}

.register--title {
    color: white;
    text-align: center;
    font-size: 3rem;
    cursor: default;
}

.register--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.register--input {
    width: 80%;
    height: 3rem;
    margin: 2rem auto 2rem auto;
    border-radius: 4px;
    border-style: none;
    text-indent: 0.5rem;
    outline: none;
}

.register--input:focus {
    border-style: none;
    border: 4px double black;
}

.register--form > label {
    font-size: 1.5rem;
    cursor: default;
    color: blue;
}

#register--submit {
    cursor: pointer;
    color: white;
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #444499;
}

#register--submit:hover {
    animation: 200ms forwards scaleButton;
    background-color: #6666bb;
}