@keyframes scaleButton {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

* {
    font: 1rem arial;
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(98,126,196,1) 86%, rgba(139,150,213,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    max-width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
