@keyframes showNav {
    0% {
        transform: translateY(-2rem);
        background-color: #99999922;
    }
    100% {
        transform: translateY(0);
        background-color: #333377cc;
    }
}

 @keyframes hideNav {
    0% {
        transform: translateY(0rem);
        background-color: #333377cc;
    }
    100% {
        transform: translateY(-2rem);
        background-color: #99999900;
    }
}

@keyframes transformNavButton {
    0% {
        transform:scaleX(0.3);
    }
    100% {
        transform: scaleX(1.1);
    }
}

@keyframes mobileHideNav {
    0% {
        width: 100%;
        color: #00000000;
        background-color: white;
        transform: translateX(0vw)
    }
    100% {
        width: 0;
        color:auto;
        transform: translateX(45vw) ;
        color: black;
    }
}

@keyframes mobileShowNav {
    0% {
        width: 0;
        opacity: 0;
        transform: translateX(50vw) ;
        color: black;
    }
    100% {
        width: 100%;
        height: 5px;
        opacity: 1;
        color: #00000000;
        background-color: white;
        transform: translateX(0vw);
    }
}

#navbar--visible, #navbar--hidden {
    background-color: #333377;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
}

#navbar--visible {
    animation: 300ms linear forwards showNav;
}

#navbar--hidden {
    animation: 300ms linear forwards hideNav;
}

.navbar--links, #navbar--home-text {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    border: none;
    float: right;
    margin-right: 3%;
    background-color: #00000000;
    padding: 5px;
}

.navbar--links:hover, #navbar--home-text:hover {
    animation: 50ms forwards scaleButton;
    color: pink;
}

#navbar--home-link {
    width: 120px;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
}

#navbar--home-text {
    font-size: 2rem;
}

#navbar--home-icon {
    max-width: 4rem;
}

#navbar--bottom {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

#navbar--toggle-visible, #navbar--toggle-hidden {
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 3px;
    background-color: #ffffff00;
}

#navbar--toggle-arrow-visible, #navbar--toggle-arrow-hidden {
    font-size: 2rem;
    bottom: 4px;
    color: black;
    font-weight: bold;
}

#navbar--toggle-visible:hover {
    animation: transformNavButton 500ms forwards;
    background-color: #8888ff44;
    border-radius: 2rem;
    width: 30%;
}

@media screen and (max-width: 800px) {
    #navbar--visible, #navbar--hidden {
        height: 8rem;
    }
    .navbar--links {
        margin-right: 1px;
    }
    
    #navbar--home-text {
        visibility: hidden;
    }

    #navbar--toggle-visible {
        position: absolute;
        bottom: 0;
        border-radius: 0 !important;
        animation: mobileShowNav 500ms ease-out forwards !important;
        height: 5px;
    }
    
    #navbar--toggle-visible:hover {
        background-color: #00000000;
    }
    
    #navbar--toggle-hidden {
        height: 5px;
        position: absolute;
        bottom: 0;
        animation: mobileHideNav 500ms linear forwards;
    }
    
    #navbar--toggle-arrow-visible {
        visibility: hidden;
    }
}